// rwd
// 三個變數依序為 rwd斷點名稱，rwd斷點寬度，內部容器寬度
$rwd-break-point: (tablet 768px 708px, pc 1320px 1200px);

// 預設到第一個斷點前，左右留15px
// 之後內部最大寬為 $rwd-break-point 每個項目的'內部容器寬度'(第三個參數)
// 如需增加斷點，在 $rwd-break-point 中添加即可
.g-content {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
}

@mixin set-content-size($content-size-value) {
  .g-content {
    display: block;
    padding: 0;
    width: 100%;
    // min-width: $content-size-value;
  }
}

@mixin rwd($break-point-key) {
  @each $break-point, $break-point-value, $content-size-value in $rwd-break-point {
    @if $break-point == $break-point-key {
      @media screen and (min-width: $break-point-value) {
        @include set-content-size($content-size-value);
        @content;
      }
    }
  }
}
